@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #64B6AC;
  --blue: #173F5F;
}

@layer base {
  h1 {
    font-size: clamp(24px, 4.2vw, 36px);
    font-weight: 900;
    font-family: 'Lilita One', cursive;
  }

  h2 {
    font-size: clamp(20px, 3.2vw, 28px);
    font-weight: 700;
  }

  h3 {
    font-size: clamp(16px, 2.8vw, 24px);
    font-weight: 500;
    color: var(--green);
  }

  div {
    font-size: clamp(12px, 2.8vw, 20px);
  }

  ul {
    list-style-type: circle;
    margin-left: 2rem;
  }

  ol {
    list-style: decimal outside;
    margin-left: 1.5em
  }

  blockquote {
    border-left: 10px solid #e3d1e6;
    margin: 1rem 2rem;
    padding: 0.5em 10px;
  }

  blockquote:before {
    color: #e3d1e6;
    content: open-quote;

  }

  blockquote p {
    display: inline;
  }

  code {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    padding: 1rem;
    background: #1e2626;
    line-height: 1rem;
    border-left: 10px solid #e3d1e6;
    color: #d9f6f5;
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Change the alpha value to adjust the transparency */
  z-index: 9;
  /* Make sure the overlay is on top of everything else */
}
